html {
  overflow: hidden;
  height: 100%;
  background: #191919;
  width: 100%;
}

#canvas {
  background: url("/space.jpg") no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

#canvas.playing {
  cursor: url("/aim_red.png") 17.5 17.5, auto !important;
}

.temporary {
  width: 80rem;
  font-family: "Orbitron", sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 1%;
}
#blue {
  width: 40rem;
  font-size: 2rem;
  color: #f0ffff;
  background-color: rgba(0, 0, 255, 0.4);
  border: 0.1rem solid #f0ffff;
  border-radius: 1rem;
}
#red {
  width: 40rem;
  font-size: 2rem;
  color: #f0ffff;
  background-color: rgba(255, 0, 0, 0.4);
  border: 0.1rem solid #f0ffff;
  border-radius: 1rem;
}
#blue:hover {
  -webkit-box-shadow: 0 0 4rem 4rem #0f0;
  box-shadow: 0 0 4rem 4rem #090fff;
  border-color: #090fff;
  width: 133%;
  left: 0%;
  z-index: -1;
  color: #0f0;
}
#red:hover {
  -webkit-box-shadow: 0 0 4rem 4rem #0f0;
  box-shadow: 0 0 4rem 4rem #f00;
  border-color: #f00;
  width: 133%;
  left: 0%;
  z-index: -1;
  color: #0f0;
}
